html(lang="sv")
  head
    include includes/meta.pug
    title fhm-eleventy
    style.
      table {
        font-family: sans-serif;
      }
      th {
        text-align: right;
      }
      td {
        color: white;
        text-align: center;
      }
      td:nth-child(3) {
        color: darkmagenta;
      }
  body
    h1= fhm.timestamp
    nav
      ul
        li
          a(href="/") Hem
        li
          a(href="/7") 7 dagars rullande medelvärde per miljon
        li
          a(href="/14") 14 dagars fall per 100000
        li
          a(href="/change") senaste 7 dagarna jämfört med de 7 föregående
        li
          a(href="/map14") karta
        li
          a(href="/charts/totalt_antal_fall") diagram över 7 dagars rullande medelvärde per miljon
    table
      tr
        th Region
        th 7-dagars
        th ändring i %
        th 14-dagars
      each row in fhm.cases.latest.rows
        tr
          th= row.regionName
          td(style='background-color:' + row.bgcolor)= Math.round(row.value)
          td(style='background-color:' + row.entryDiff.bgcolor)= Math.round(row.entryDiff.value)
          td(style='background-color:' + row.entry14.bgcolor)= Math.round(row.entry14.value)
