html(lang="sv")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title karta
    style.
      .map {
        font-family: sans-serif;
      }
body
  .map
    svg(viewBox="10 0 15 15")
      each region in fhm.cases.map
        polygon(points=region.points, fill=region.bgcolor)
        text(
          x=region.center.x,
          y=region.center.y + 0.2,
          font-size="0.5",
          text-anchor="middle"
        )= Math.round(region.value)
